root,
html,
.App {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.App {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .App {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 992px) {
  .App {
    font-size: 1.4em;
  }
}

* {
  box-sizing: inherit;
}
